In [43]:
import pandas as pd
import os

In [44]:
file_name_1 = 'Father_SON_ID.csv'
file_name_2 = 'Person_ID.csv'
df_1 = pd.read_csv(file_name_1)
df_2 = pd.read_csv(file_name_2)
display(df_1.sample(2))
display(df_2.sample(2))

     Father    Son  Father_Id  Son_Id  SKIP_GENERATION
122     Buz    Aws        122     123              NaN
81   Muksar  Aiham         76      83              NaN

     Person_ID  Level   Name  Phrophet  Check
87          87   32.0  Aisar       NaN    NaN
152        154   80.0   Umar       NaN    1.0

In [45]:
df_2['Person_ID'] = df_2['Person_ID'].fillna(9999).astype('int')
df_2['Level'] = df_2['Level'].fillna(9999).astype('int')
df_2['NAME_NEW'] = df_2['Name'] + '_' + df_2['Level'].astype('str')
df_2.sample(2)

     Person_ID  Level    Name  Phrophet  Check   NAME_NEW
0            1      1    Adam       1.0    1.0     Adam_1
136        138     74  Ghalib       NaN    NaN  Ghalib_74

In [46]:
df_1_a = pd.merge(df_1,df_2[['Person_ID','NAME_NEW','Phrophet']],left_on='Father_Id', right_on='Person_ID').rename(columns={'NAME_NEW':'Father_New', 'Phrophet':'Phrophet_Father'}).drop('Person_ID', axis=1)
df_1_b = pd.merge(df_1_a,df_2[['Person_ID','NAME_NEW','Phrophet']],left_on='Son_Id', right_on='Person_ID').rename(columns={'NAME_NEW':'Son_New','Phrophet':'Phrophet_Son'}).drop('Person_ID', axis=1)
df_1_b.sample(3)

,Father,Son,Father_Id,Son_Id,SKIP_GENERATION,Father_New,Phrophet_Father,Son_New,Phrophet_Son
57,Bares,Hasrun,53,62,NaN,Bares_24,NaN,Hasrun_25,NaN
26,Ubayd,Masih,25,28,1.0,Ubayd_16,NaN,Masih_17,NaN
34,Haran,Lut,33,38,1.0,Haran_19,NaN,Lut_20,1.0

In [47]:
from graphviz import Digraph

# Create a new directed graph
family_tree = Digraph(comment='Family Tree')

for idx,a in df_2.iterrows():
    P_FILTER = a['Phrophet']
    if pd.isna(a['NAME_NEW']):
        pass
    elif pd.isna(P_FILTER):
        family_tree.node(a['NAME_NEW'])
    else:
        family_tree.node(a['NAME_NEW'], color = 'green')

In [48]:
for idx,a in df_1_b.iterrows():
    if pd.isna(a['Father']):
        pass
    else:
        father_id = str(a['Father_New'])
        son_id = str(a['Son_New'])
        family_tree.edge(father_id, son_id)

In [49]:
# Render and display the graph
family_tree.render("202406_family_tree", format="png", cleanup=True)

'202406_family_tree.png'